* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

body {
  min-width: 320px;
  background-color: #222;
  color: #eee;
  font-size: 1.3em; }
  body > div {
    margin: 0 auto;
    max-width: 1200px;
    width: 98%;
    position: relative;
    padding-top: calc(100px + 1em); }

p {
  margin: 0 0 0.5em 0; }

a {
  color: #ccc; }

header {
  background-color: #222;
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 10; }
  header h1 {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    font-size: 1.5em; }
    header h1 img {
      margin-right: .3em; }
  header.collapse {
    height: 70px; }
    header.collapse h1 {
      font-size: 1em; }
      header.collapse h1 img {
        width: 68px; }

article {
  clear: both;
  display: flex;
  flex-flow: column-reverse;
  align-content: stretch;
  margin-bottom: 1em; }
  article h2 {
    font-size: 1.1em;
    margin: 0 0 .3em 0;
    text-align: center; }
  @media (min-width: 0) and (max-width: 800px) {
    article h2 {
      margin-top: 1em; } }
  article div {
    margin-right: 15px; }
  article div.screenshot {
    flex: 4;
    order: 1; }
    article div.screenshot img {
      width: 100%; }
  article div.previews {
    flex: 1;
    order: 2;
    text-align: center; }
    article div.previews img {
      width: 100%;
      max-width: 60px;
      border: solid 2px transparent; }
      article div.previews img.active {
        border: solid 1px #eee; }
  article div.info {
    flex: 3;
    order: 3; }
  @media (min-width: 800px) {
    article {
      flex-flow: row wrap-reverse; }
      article div.previews {
        max-width: 60px; } }

article + article {
  border-top: solid 1px #fff;
  padding-top: 1em; }
