* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

body {
  min-width: 320px;
  background-color: #222;
  color: #eee;
  font-size: 1.3em; }
  body > div {
    margin: 0 auto;
    max-width: 1200px;
    width: 98%;
    position: relative;
    padding-top: calc(100px + 1em); }

p {
  margin: 0 0 0.5em 0; }

a {
  color: #ccc; }

header {
  background-color: #222;
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 10; }
  header h1 {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 320px;
    display: flex;
    align-items: center;
    font-size: 1em; }
    @media (min-width: 800px) and (max-width: 1199.9px) {
      header h1 {
        font-size: 1.3em; } }
    @media (min-width: 1200px) {
      header h1 {
        font-size: 1.5em; } }
    header h1 img {
      margin-right: .3em; }
  header.collapse {
    height: 80px; }
    header.collapse h1 {
      font-size: 1em; }
      header.collapse h1 img {
        width: 68px; }

section + section,
footer {
  margin-top: 3em; }

article {
  border-top: solid 1px #888;
  padding-top: 3em; }

article {
  clear: both;
  display: flex;
  flex-flow: column-reverse;
  align-content: stretch;
  margin-bottom: 3em; }
  article h2 {
    font-size: 1.1em;
    margin: 0 0 .3em 0;
    text-align: center; }
  @media (min-width: 0) and (max-width: 800px) {
    article h2 {
      margin-top: 1em; } }
  article div {
    margin-right: 15px; }
  article div.screenshot {
    flex: 4;
    order: 1; }
    article div.screenshot img, article div.screenshot video {
      width: 100%; }
  article div.previews {
    flex: 1;
    order: 2;
    text-align: center; }
    article div.previews a {
      position: relative;
      display: inline-block;
      border: solid 2px transparent;
      padding: 0;
      font-size: 0; }
      article div.previews a.active {
        border: solid 1px #eee; }
        @media (min-width: 800px) {
          article div.previews a.active:before {
            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid #888;
            content: '';
            display: block;
            position: absolute;
            left: -11px;
            top: 18px;
            color: #888; } }
      article div.previews a img {
        width: 100%;
        max-width: 60px;
        margin: 0;
        padding: 0; }
  article div.info {
    flex: 3;
    order: 3; }
  @media (min-width: 800px) {
    article {
      flex-flow: row wrap-reverse; }
      article div.previews {
        max-width: 60px; } }

footer .social-media {
  border-top: solid 1px #888;
  text-align: center;
  padding: 2em 0; }
  footer .social-media a {
    display: inline-block;
    width: 52px;
    height: 52px;
    margin-left: 3em;
    font-size: 0;
    text-indent: -999px;
    overflow: hidden;
    background-size: cover;
    background-clip: border-box; }
    footer .social-media a.twitter {
      background-image: url("/img/icons/twitter.svg"); }
    footer .social-media a.linkedin {
      background-image: url("/img/icons/linked_in.svg"); }

.hidden {
  display: none; }
