@import "node_modules/breakpoint-sass/stylesheets/breakpoint";

$bp-large:      1200px;

$bp-medium:     800px;
$bp-medium-max: $bp-large - 0.1px;

$bp-small:      0;
$bp-small-max:  $bp-medium - 0.1px;

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  background-color: #222;
  color: #eee;
  font-size: 1.3em;

  > div {
    margin: 0 auto;
    max-width: 1200px;
    width: 98%;
    position: relative;
    padding-top: calc(100px + 1em);
  }
}

p {
  margin: 0 0 0.5em 0;
}

header {
  background-color: #222;
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 10;

  h1 {
    margin: 0 auto;
    max-width: 1200px;

    display: flex;
    align-items: center;
    font-size: 1.5em;

    img {
      margin-right: .3em;
    }
  }

  &.collapse {
    height: 70px;

    h1 {
      font-size: 1em;

      img {
        width: 68px;
      }
    }
  }
}

article {
  clear: both;
  display: flex;
  flex-flow: column-reverse;
  align-content: stretch;

  border-bottom: solid 1px #fff;
  padding-bottom: 1em;
  margin-bottom: 1em;

  div {
    margin-right: 15px;
  }

  div.screenshot {
    flex: 4;
    order: 1;

    img {
      width: 100%;
    }
  }

  div.previews {
    flex: 1;
    order: 2;
    text-align: center;

    img {
      width: 100%;
      max-width: 60px;
      border: solid 2px transparent;

      &.active {
        border: solid 1px #eee;
      }
    }
  }

  div.info {
    flex: 3;
    order: 3;
  }

  @include breakpoint($bp-medium) {
    flex-flow: row wrap-reverse;

    div.previews {
      max-width: 60px;
    }
  }
}
